{% extends 'base.html.twig' %}

{% block body %}

    <div class="bg">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div>
                        <h1>The Finchmeister</h1>
                    </div>
                    <p>We want to explore. We’re curious people. Look back over history, people have put their lives at stake to go out and explore … We believe in what we’re doing. Now it’s time to go.</p>
                </div>
            </div>



        </div>

    </div>



    <div class="container">
        <div class="row">

            <div class="col-6">


            </div>

            <div class="col-6">


            </div>

        </div>

    </div>

    {% include ':partials:instagram.html.twig'%}

    {# The Beat Factory#}
    <section>
        {{ path('the_beat_factory') }}
    </section>

{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block javascripts %}

{% endblock %}
