body {
  background-color: #252830;
  color: #dad2cf;
}

body, html {
  height: 100%;
  margin: 0;
}

$main-background-image: '/img/home/alpdehuez.jpeg';

.bg {
  /* The image used */
  background-image: url($main-background-image);

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

